@use "../abstracts/mixin";
@use "../abstracts/variables";


.about-system {
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 7.5rem;
    padding-right: 7.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    background-color: variables.$background-grey;
    font-family: variables.$primary-font;
    min-height: 700px;
    max-width: 100%;
}
.about-system_wrap-left {
    max-width: calc(100% - 30rem - 5rem);
    //padding-right: 5rem;
}
.about-system_title {
    color: variables.$medium-font;
    margin-bottom: 50px;
}
//.about-system_text { }

.about-system_wrap-right {
    align-items: center;
    display: flex;
    position: relative;
}
.about-system_img {
    border-radius: 20px;
    object-fit: cover;
    width: 100%;
}

@media screen and (max-width: 1020px) {
.about-system {
    flex-wrap: wrap;
    gap: 2.4rem;
    justify-content: center;
    //font-size: 1.3rem;
}
.about-system_wrap-left {
    max-width: none;
}
}
@media screen and (max-width: 700px) {
.about-system {
    padding-left: 1rem;    
    padding-right: 1rem;
    padding-top: 75px;
    padding-bottom: 75px;
}
}